<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    function decrementa(produtoId) {
        var url = "@Url.Action("DecrementaQtd", "Produto")";
        var params = { id: produtoId };
        $.post(url, params, atualiza);
    }

    function atualiza(resposta) {
        var elemento = $("#quantidade" + resposta.Id);
        elemento.html(resposta.Quantidade);
    }
</script>

@model IList<CaelumEstoque.Models.Produto>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Id</td>
                <td>@Html.ActionLink(produto.Nome, "Visualiza", new { id = produto.Id })</td>
                <td id="quantidade@(produto.Id)">@produto.Quantidade</td>
                <td><a href="#" onclick="decrementa(@produto.Id)">Decrementar</a></td>
            </tr>
        }
    </tbody>
</table>