<!DOCTYPE html>

    <form action="/Produto/Adiciona" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationMessage("produto.Nome")
        <label for="nome">Nome:</label>
        <input id="nome" name="produto.Nome" value="@ViewBag.Produto.Nome" class="form-control" />

        <label for="quantidade">Quantidade:</label>
        <input id="quantidade" name="produto.Quantidade" value="@ViewBag.Produto.Quantidade" class="form-control" />

        <label for="descricao">Descrição:</label>
        <input id="descricao" name="produto.Descricao" value="@ViewBag.Produto.Descricao" class="form-control" />

        <label for="preco">Preço:</label>
        <input id="preco" name="produto.Preco" value="@ViewBag.Produto.Preco" class="form-control" />

        <label for="categoria">Categoria:</label>
        <select id="categoria" name="produto.CategoriaId" class="form-control">
            @foreach (var c in ViewBag.Categorias)
            {
                <option value="@c.Id" selected="@c.Id.Equals(ViewBag.Produto.CategoriaId)">@c.Nome</option>
            }
        </select>

        <input type="submit" value="Cadastrar" />
    </form>
